<div class="row" ng-controller="cartController">
	<div class="col-xs-12">
		<h3><b>Shopping Cart</b></h3>
		<hr>
	</div>
	<div class="col-xs-12" ng-if="cart.length == 0">
		<h4>Your shopping cart is empty.</h4>
	</div>
	<div class="col-xs-12" ng-if="cart.length > 0">
		<div class="col-xs-7">
			<div class="panel panel-default" ng-repeat="item in cart">
		  		<div class="panel-body">
			 	  	<table class="table cartTable">
			 	  		<tbody>
			 	  			<tr>
			 	  				<td rowspan="3">
			 	  					<img ng-src="./public/images/{{item.image}}" alt="{{item.brand}} {{item.phone}}" class="cartImg">
			 	  				</td>
			 	  				<td class="text-center text-muted">Brand</td>
			 	  				<td class="text-center text-muted">Phone</td>
			 	  				<td class="text-center text-muted">Price</td>
			 	  				<td class="text-center text-muted">Quantity</td>
			 	  				<td class="text-center text-muted">Remove</td>
			 	  			</tr>
			 	  			<tr>
			 	  				<td class="text-center"><b>{{item.brand}}</b></td>
			 	  				<td class="text-center"><b>{{item.phone}}</b></td>
			 	  				<td class="text-center"><b>{{item.price | currency}}</b></td>
			 	  				<td class="text-center"><b>{{item.qty}}</b></td>
			 	  				<td class="text-center">
			 	  					<a href="" ng-click="deleteItem(item)">Delete</a>
			 	  				</td>
			 	  			</tr>
			 	  		</tbody>
			 	  	</table>
			  	</div>
			</div>
		</div>
		<div class="col-xs-5 cartRight well">
			<button type="button" class="btn btn-success btn-lg btn-block">Place your order</button>
			<hr>
			<h4><b>Order Summary</b></h4>
			<table class="table orderTotals">
				<tr>
					<td>Sub-total({{cart.length}} item/s) :</td>
					<td class="text-right"><b>{{subTotal | currency}}</b></td>
				</tr>
				<tr>
					<td>Shipping & Handling :</td>
					<td class="text-right borderBottom"><b>{{shipping | currency}}</b></td>
				</tr>
				<tr>
					<td>Total before tax :</td>
					<td class="text-right"><b>{{totalBTax | currency}}</b></td>
				</tr>
				<tr class="borderBottom">
					<td>Estimated tax :</td>
					<td class="text-right"><b>{{estimatedTax | currency}}</b></td>
				</tr>
				<tr>
					<td><b>Order Total :</b></td>
					<td class="text-right"><b>{{orderTotal | currency}}</b></td>
				</tr>
			</table>
		</div>
	</div>
	
</div>